body, html {
  background-color: white;

}

h1{
  line-height: 1.8;

}

h3{
  line-height: 2.5;

}

p{
  line-height: 2.5;
}

.top {
  margin:0px;
  padding:0px;
  width: auto;
  
}

.copy {
  width: auto;
}

.menu {
  margin:0px;
  padding:0px;
  width: auto;
}

.map {
  width: auto;  
}

.footer {
   width: auto; 
}

div{
    line-height: 0;
}