body, html {
  width: auto;
  background-color: white;
  margin:0px;
}

h1{
  line-height: 1.8;

}

h3{
  line-height: 2.5;

}

p{
 
}

.top {
  width: auto;
}

.copy {
  width: auto;
}

.menu {
  width: auto;  
}

.map {
  width: auto;  
}

.footer {
   width: auto; 
}